* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
}


/* 
Utility 
*****************/

:root {
    --green: #008000;
    --yellow: #FFFF00;
    --red: #FF0000;
    --white: #ffffff;
    --font: 'Rubik Mono One', sans-serif;
}


/* 
Main
*****************/

.container {
    background-color: var(--red);
    height: 100vh;
    position: relative;
}

.btn-change {
    position: absolute;
    top: 3.5rem;
    right: 0;
}

.btn-click {
    font-size: 23px;
    background-color: var(--white);
    font-family: var(--font);
    border: none;
    border-radius: 50%;
    padding: 1.25rem 1.75rem;
    margin-right: 2.5rem;
}